{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Publicationdate</th>
                <th>Registerdate</th>
                <th>Rating</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.name }}</td>
                <td>{% if book.publicationDate %}{{ book.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if book.registerDate %}{{ book.registerDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ book.rating }}</td>
                <td>{{ book.authorOfBook}}
                  <td>{{ book.genreOfBook}}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_new') }}">Create a new book</a>
        </li>
    </ul>
{% endblock %}
