{% extends 'base.html.twig' %}

{% block body %}
    <h1>Genre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ genre.title }}</td>
            </tr>
            <tr>
                <th>Books</th>
                <td>
                {% for book in genre.books %}
                <li>{{ book.name }}</li>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('genre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('genre_edit', { 'id': genre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
